$special-color: #ff0000;


body {
  background-color:rgb(19, 19, 19);
}

.specialColor {
    color:$special-color;
}

.specialBg {
    background-color:$special-color;
}

.loginButton, .registerButton,.favoriteButton,.paginationButton{
    max-width: 200px;
    &:hover {
        transition: 100ms;
        cursor: pointer;
        box-shadow: 0px 20px 30px -20px $special-color;
    }
}

.btn-dark:not(:disabled):not(.disabled):active {
    color:$special-color
}

.card{
    &:hover {
        transition: 100ms;
        cursor: pointer;
        box-shadow: 0px 20px 30px -20px $special-color;
    }
}

.btn-dark:hover {
    color: $special-color;
}

svg {
    fill:$special-color
}

.darkShadow {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.651);
}

.albumButton {
    height: 3rem;
    width: 8rem;
    max-width: 100px;
    border-radius: .125rem;
    &:hover {
        transition: 100ms;
        cursor: pointer;
        box-shadow: 0px 20px 30px -20px $special-color;
    }
}

a:focus {
    outline: none;
}

.pagination li {
    padding: 12px;
    margin: 4px;
}
