$special-color: #ff0000;


body {
  background-color:rgb(19, 19, 19);
}

.specialColor {
    color:$special-color;
}

.specialBg {
    background-color:$special-color;
}

.card,.loginButton, .registerButton {
    max-width: 200px;
    &:hover {
        transition: 100ms;
        cursor: pointer;
        box-shadow: 0px 20px 30px -20px $special-color;
    }
}

.btn-dark:hover {
    color: $special-color;
}

svg {
    fill:$special-color
}

.darkShadow {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.651);
}