$special-color: #ff0000;

@mixin hover-effect {
   &:hover {
        transition: 100ms;
        cursor: pointer;
        box-shadow: 0px 20px 30px -20px $special-color;
    }
}

.specialColor {
    color:$special-color;
}

.specialBg {
    background-color:$special-color;
}


body {
    background-color:rgb(19, 19, 19);
    font-family: 'Archivo', sans-serif;
}

p {
    line-height: 1.8rem;
}

h1,h2,h4,h5,.card-title {  
    font-weight: 800 !important;
}

.loginButton, .registerButton,.deleteButton,.favoriteButton,.paginationButton, .logOutButton,.toMainButton{
    max-width: 240px;
    @include hover-effect;
}

.btn-dark:not(:disabled):not(.disabled):active,.btn-dark:focus {
    color:$special-color;
}

.card{
    background-color: inherit;
    @include hover-effect;
}

.btn-dark:hover {
    color: $special-color;
}

.darkShadow {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.651);
}

a:focus {
    outline: none;
}

