@import "../../assets/scss/style.scss";


.navTitles {
    display: flex    
}

.navIcons {
    display: none    
}

.navbar-brand img {
    max-width: 8rem;
}


@media screen and (max-device-width: 768px) {  
    .navTitles {
        display: none    
    }
    
    .navbar-brand img {
        max-width: 6rem;
    }
    
    .navIcons {
        display: flex    
    }
}
